*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
}        

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(img/banner.png);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
}
.register-btn{
    padding: 8px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 20px;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
}
.container{
    padding: 0% 7%;
}
.header h1{
    font-size: 4vw;
    font-weight: 500;
    text-align: center;
    color: #fff;
    padding-top: 22%;
}
.search-bar{
    width: 70%;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 50px;
    padding: 6px 10px 6px 30px;
}

.search-bar form{
    display: flex;
    flex-wrap: center;
    align-items: center;
}

.search-bar form input{
   display: block;
   border: 0;
    outline: none;
    background: transparent;

}

.search-bar form button{
    background: #ff5361;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}

.search-bar form button img{
    width: 15px;
    margin-top: 7px;
}

.location-input{
    flex: 1;
}

.search-bar form label{
    font-weight: 600;
}

.sub-title{
    margin:50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;

}
.exclusives{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.exclusives div img{
    width: 100%;
    border-radius: 10px;
}
.exclusives div {
    position: relative;
    
}
.exclusives div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
}
.trending{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));    
    gap: 30px;
    margin-bottom: 50px;
}

.trending div img{
    width: 100%;
    border-radius: 10px;
}
.trending h3
{
    margin-top: 10px;
    font-size: 1.1vw;
    color: #333;
}

/*----------call to action section----------*/

.cta{
    margin : 80px 0;
    background-image: linear-gradient(to right, #3F2321, transparent),url(img/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color:#fff
}   
.cta h3{
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}
.cta p{
    margin: 10px 0;
    font-size: 18px;
}
.cta-btn{
    background: #ff5361;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
}
/*------------Travelers Stories----------*/
.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}
.stories div img{
    width: 100%;
    border-radius: 10px;
}
.stories div {
    position: relative;
    text-align: center;
}
.stories p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 26px;
}
.start-btn{
    background: #ff5361;
    color: #fff;
    text-decoration: none;
    width: 80%;
    max-width: 350px;
    
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}

/*----------about-msg section----------*/
.about-msg{
    color: #333;
    font-size: 17px;
    text-align: center;
    margin: 80px 0;
}
.about-msg h2{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 500;
}
/*-----------footer-----------*/
.footer{
   margin: 80px 0 10px;
    text-align: center;

}
.footer a{
    
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}
.footer hr{
    margin: 20px 0;
    border: 0;
    height: 1px;
    background-color: #999;
    width: 100%;
}
.footer p{
   padding-bottom: 15px;
}
.active{
    position: relative;
}
.active::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background: #fff;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px ;
}
nav .fa-bars{
    display: none;
    
}
/*----------for samall screen devices----------*/
@media only screen and (max-width: 700px){
   .logo{
        position: fixed;
        top : 4%;
        left: 7%;       

    }
    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #000;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s ;
    }
    nav .nav-links li {
        display: block;
        margin: 10px 0;
    }
    .register-btn{
        display: inline-block;
        margin: 15px 0 30px;
    }
    nav .fa-bars{
        display: block;
        position: fixed;
        color: #fff;
        font-size: 28px;
       top: 4%;
       right: 7%;

    }
    .active::after{
        left: -40px;
        transform: translate(0,50%);
        bottom: 50%;
    }
    .hidemenu{
        max-height: 300px;
    }
    .header h1{
        font-size: 7vw;
        padding-top: 200px;
    }
    .search-bar{
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }
    .search-bar form{
        display: block;
    }
    .search-bar form input{
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 10px;
        margin-top: 10px;
    }
    .search-bar form button{
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    .sub-title{
        font-size: 6vw;
        text-align: center;
    }
    .trending h3{
        font-size: 6vw;
    }
    .cta{
        padding: 15% 5%;

    }
    .cta h3{
        font-size: 7vw;
        line-height: 8vw;
    }
    .cta p{
        font-size: 14px;
    }
    .cta-btn{
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
    }
    .stories p{
        font-size: 22px;
    }
    .about-msg{
        font-size: 14px;
    }

}